$logoTextColor: #ffffff;
$fontLogo: 'Hind', sans-serif;
$marginTopLogo: -55px;
$sizeLogo: 19px;
$sizeSpanLogo: 9px;
$marginSpan: -2px 0 0 -7px;
$marginTopImg: 20px;
$lineHeader: 1.6;
$marginTopHeaderButton: 58px 0 0 10%;
$backgroundBody: #21232e;
$marginSectionText: 23px 0 39px 0;
$heightSectionImg: 57%;
$backgroundSectionCard: #3b3f50;
$borderSectionCard: 20px solid #3b3f50;
$marginSectionCard: 3px 0 0 0;
$gradient: linear-gradient(to right, #dfa505, #932d52);

$backgroundImage: "../img/m-h-night.jpg";
$colorButton: #e3ac00;
$colorLine: #ff4e33;
$headerColorText: white;
$headerTextColor:white;
$textColorButton: white;
$colorCardText: #c0c3c4;
$colorBannerText:#d1d1c9;
$colorFooterText: #b6c3ce;
$colorFooterWrap: #3b3f50;
$colorFooterLogo: #c0c3ce;