$backgroundBody: white;
$logoTextColor: #2c2f3c;
$backgroundImage: "../img/m-h-day.jpg";
$fontLogo:'Hind', sans-serif;
$marginTopLogo:  -60px;
$sizeLogo: 24px;
$sizeSpanLogo: 10px;
$marginSpan: -5px 0 0 0;
$marginTopImg: 35px;
$lineHeader: 1.5;
$marginTopHeaderButton: 62px 0 0 10%;
$marginSectionText: 39px 0 39px 0;
$heightSectionImg: 58%;
$backgroundSectionCard: #21232e;
$borderSectionCard: 20px solid #21232e;
$marginSectionCard: 0;
$gradient: linear-gradient(to right, #649315, #315fcb);


$colorButton: #699900;
$colorLine: #14a0c7;
$headerColorText: #2c2f3c;
$headerTextColor: #2c2f46;
$textColorButton: #f2f3f7;
$colorCardText: #c0c3c4;
$colorBannerText:#c0c3be;
$colorFooterText: #b6c3ce;
$colorFooterWrap: #21232e;
$colorFooterLogo: #c0c3ce;