@media print {
    .tm-sidebar, .carousel-indicators, #tmCarousel.carousel-item, .img-fluid, #contact{ display: none !important; }
    .tm-team-img, #about, .boxes, .padding-medium .text::after {
        display: none;}
    .tm-content-box.flex-2-col, h2.tm-section-title, .tm-section-description{
        width: auto;
        text-align: center;
    }
    .tm-banner{
        width:100%;
    }
    .tm-banner-inner{
        width: 100%;
    }
    .padding-medium h2{
        color: lightskyblue;
        font-weight: lighter;
        text-align: center;
    }
    .heading .padding-medium li a {
        color: unset;
    }
    .heading li::first-letter{
        color: lightskyblue;
    }
    .tm-team-description-container {
        max-width: 100%;
    }
    .padding-medium, .carousel, .tm-footer, .tm-main-content, .tm-banner{
        padding: 0;
        margin: 0;
    }
    .tm-content-box{
        margin-bottom: 10px;
    }
    p{
        text-indent: unset;
        font-style: unset;
    }
    body li {
        text-align: left;
        display: block;
        padding: 20px ;
        color: inherit;
    }
    body ol {
        column-count: 2;
        width: 50%;
        margin: auto;
        display:block;
    }
    @page:left{
        margin: 1cm;
    }
    @page:right{
        margin: 1cm;
    }
}


.box-bg:hover{
    background: lightskyblue;
}
.box-bg h2:hover{
    color: white;
}
.tm-sidebar:hover {
    box-shadow: 0 0 5px ;
    transition: box-shadow 1s;
    color: rgba(61, 55, 61, 0.7);
}
.tm-banner:hover{
    background-color: #76cdd7;
    box-shadow: 0 0 5px 2px;
    transition: box-shadow, background-color 1s;
    color: rgba(61, 55, 61, 0.7);
}
.tm-banner-inner {
    background-color: white;
}
.tm-banner-text {
    text-shadow: 0 6px #76cdd7;
    letter-spacing: 3px;
    word-spacing: 3px;
    transition: letter-spacing,text-shadow,word-spacing;
    animation: textAnim 2s ;
}
@keyframes textAnim {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(180deg); }
    100% { transform: rotateY(360deg); }
}
h2+p{
    font-style: italic;
}
p{
    text-indent: 3em;
}
.tm-content-box:hover{
    box-shadow: 0 0 5px ;
    transition: box-shadow 1s;
    color: rgba(61, 55, 61, 0.7);
}
.tm-content-box.flex-2-col, .heading.tm-content-box, .blocks, #tmCarousel {
    background: linear-gradient(to top left,white 50%,#76cdd7 0) top left/40px 40px no-repeat, white;

}
.padding-medium.flex-item.tm-team-description-container.flex-item{
    margin: auto;
}
.tm-content-box.flex-2-col{
    display: flex;
}

.heading h2{
    color: lightskyblue;
    font-weight: lighter;
    text-align: center;
}
.padding-medium li{
    list-style-type: lower-roman;
}
.padding-medium a:visited {
    color: #ffb347 ;
}
.padding-medium a:hover{
    color: #ffb347;
    font-weight: bold;
    border-left: 2px solid #ffb347;
    padding-left: 3px;
    text-decoration: none;
}
.padding-medium .text::after {
    color: red;
    content: "New";
    font-size: 10px;
    font-weight: bold;
    vertical-align: super ;
    font-variant: small-caps;
}

.blocks li{
    padding: 5px;
}
.blocks .box p::first-letter{
    font-size: 20px;
    font-weight: bold;
}
.blocks .box p{
    font-style: italic;
}
.blocks li:nth-of-type(even) {
    background: rgba(128, 128, 128, 0.13);
}
#contact h2{
    text-align: left;
}
.form-control{
    border: none;
    border-bottom: 2px solid lightskyblue;
}
#contact_message{
    border: 2px solid lightskyblue;
    resize: none;
}
#contact_email{
    background: url("../img/email-icon.png") no-repeat right;
    background-size: auto 80%;
}
#contact_email:focus{
    background-color: lightskyblue;
    border-radius: 5px;
}
.btn{
    background-color: unset;
    color: lightskyblue;
    border:  2px solid lightskyblue ;
    border-radius: 0;
    width: 150px;
    height: 45px;
    float: right;
}
.btn:hover{
    background-color: lightskyblue;
    color: white;
    border: none;
}
.tm-nav-item:hover{
    background-color: rgba(128, 128, 128, 0.13);
}